<template>
    <v-app>
    <v-navigation-drawer app
        stateless
        value="true"
    >
        <v-list>
            <v-list-tile to="/">
                <v-list-tile-action>
                    <v-icon>home</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Accueil</v-list-tile-title>
            </v-list-tile>

            <v-list-group
                prepend-icon="account_circle"
                value="true"
            >
                <v-list-group
                    no-action
                    sub-group
                    value="true"
                >
                    <template  v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Identification</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-tile
                        v-for="(identification, i) in identifications"
                        :key="i"
                        :href="identification[2]"
                    >
                        <v-list-tile-title v-text="identification[0]"></v-list-tile-title>
                        <v-list-tile-action>
                            <v-icon v-text="identification[1]"></v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list-group>
                <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Questionnaires</v-list-tile-title>
                    </v-list-tile>
                </template>
                <v-list-group
                    no-action
                    sub-group
                    value="true"  v-if="$auth.check(1)"
                >
                    <template  v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Admin</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-tile
                        v-if="$auth.check(1)"
                        v-for="(admin, i) in admins"
                        :key="i"
                        :href="admin[2]"
                    >
                        <v-list-tile-title v-text="admin[0]"></v-list-tile-title>
                        <v-list-tile-action>
                            <v-icon v-text="admin[1]"></v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list-group>

                <v-list-group
                    sub-group
                    no-action
                >
                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Questions</v-list-tile-title>
                        </v-list-tile>
                    </template>
                    <v-list-tile
                        v-for="(crud, i) in cruds"
                        :key="i"
                        :href="crud[2]"
                    >
                        <v-list-tile-title v-text="crud[0]"></v-list-tile-title>
                        <v-list-tile-action>
                            <v-icon v-text="crud[1]"></v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list-group>
            </v-list-group>
            <v-list-tile to="/logout">
                <v-list-tile-action>
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
        <v-toolbar app></v-toolbar>

        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>

        <v-footer
            height="auto"
            color="primary lighten-1"
        >
            <v-layout
                justify-center
                row
                wrap
            >
                <v-btn
                    v-for="lien in liens"
                    :key="lien"
                    color="white"
                    flat
                    round
                >
                    {{ lien }}
                </v-btn>
                <v-flex
                    primary
                    lighten-2
                    py-3
                    text-xs-center
                    white--text
                    xs12
                >
                    &copy;2019 — <strong>Quiz ENC</strong>
                </v-flex>
            </v-layout>
        </v-footer>

    </v-app>
</template>

<script>
    export default {
        data: () => ({
            identifications: [
                ['Enregistrement', 'contacts','/register'],
                ['Login', 'face','/login']
            ],
            admins: [
                ['Management', 'people_outline','/manage'],
                ['Settings', 'settings','/parametrage']
            ],
            cruds: [
                ['Création question', 'add', '/ajout'],
                ['Lire les questions', 'insert_drive_file', '/liste'],
                ['Modifier une question', 'update','modification'],
                ['Supprimer une question', 'delete', 'suppression']
            ],
            liens: [
                'Accueil',
                'A propos',
                'Vue.js',
                'Laravel',
                'Contact'
            ]
        }),
        methods: {
            ouvrepage(i) {
                console.log("Paramètre est"+i);
            }
        }
    }
</script>
