<template>
    <form app @submit.prevent="submit" id="mon-form" enctype="multipart/form-data">

        <v-container grid-list-md text-xs-center>
            <v-card>
            <v-layout row wrap>
                <v-flex xs6>
        <v-textarea
            prepend-icon="book"
            v-model="libelle"
            :error-messages="libelleErrors"
            :counter="300"
            label="Nouvelle question QCM"
            required
            @input="$v.libelle.$touch()"
            @blur="$v.libelle.$touch()"
        ></v-textarea>
                </v-flex>
                <v-flex xs6>

                    <v-text-field

                    v-model="pointtotal"
                    type="number"
                    label="Entrez un nombre de points"
                    required
                    hint="entrez  la valeur de la question"
                    ></v-text-field>
                </v-flex>
            </v-layout>
            </v-card>
        </v-container>

        <v-container fluid>
            <v-layout wrap>
                <v-flex xs12>
                    <v-combobox multiple
                                v-model="tags"
                                label="Tags"
                                append-icon
                                chips
                                deletable-chips
                                class="tag-input"
                                >
                    </v-combobox>
                </v-flex>


            </v-layout>
        </v-container>

        <v-content>
            <v-container fluid>
                <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                    <img :src="imageUrl" height="150" v-if="imageUrl"/>
                    <v-text-field label="Choisissez le fichier" @click='choixFichier' v-model='imageName' prepend-icon='attach_file'></v-text-field>
                    <input
                        type="file"
                        style="display: none"
                        ref="image"
                        accept="image/*"
                        @change="selectionImage"
                    >
                </v-flex>
            </v-container>
        </v-content>



        <v-container align="left" >
            <v-card>
        <proposition @supprime="supprimeProposition"
                     @valide="valideProposition"
                     :nettoie="nettoieTout"
                     v-for="(unepropale,index) in listePropositions"
                     v-bind:proposition="unepropale"
                     v-bind:index="index"
                     v-bind:key="unepropale.id"
                     ref="propale"

        >


        </proposition>
            </v-card>
        </v-container>

        <v-container align="left" >
            <v-card>
        <v-btn @click="addProposition"><v-icon>add</v-icon>Ajoutez une réponse</v-btn>
            </v-card>
            </v-container>


        <v-btn type="submit" form="mon-form">Validez la question et ses réponses</v-btn>
        <v-btn @click="nettoie">Réinitialiser</v-btn>
        <v-card>
            {{resultat}}
        </v-card>
        <v-card>
            {{resProp}}
        </v-card>

    </form>

</template>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, maxLength, email } from 'vuelidate/lib/validators'
    import Proposition from '@/js/components/Proposition.vue';

    import Propale from '../utilities/Propale.js' ;



    export default {
        components: {
            Proposition
        },
        mixins: [validationMixin],
        validations: {
            libelle: { required, maxLength: maxLength(300) }
        },

        data(){
            return{
            pointtotal:'',
            libelle: '',
            resultat: '',
            resProp: '',
            listePropositions: [
                ],
            nettoieTout: 1,
                // Selection image
            imageName: '',
            imageUrl: '',
            imageFile: '',
            tags: []
        }},

        computed: {

            libelleErrors () {
                const errors = []
                if (!this.$v.libelle.$dirty) return errors
                !this.$v.libelle.maxLength && errors.push('Votre question ne peut dépasser 300 caractères')
                !this.$v.libelle.required && errors.push('Un libellé de question est requis')
                return errors
            }
        },

        methods: {
            choixFichier (){
                this.$refs.image.click ()
            },
            selectionImage (e){
                const files = e.target.files

                console.log(files)

                if(files[0] !== undefined) {
                    this.imageName = files[0].name

                    if(this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ()
                    fr.readAsDataURL(files[0])
                   fr.addEventListener('load', () => {
                       this.imageUrl = fr.result
                     this.imageFile = files[0]
                    //A stocker sur le serveur..
                     })
                    //this.imageUrl = fr.result
                    //this.imageFile = files[0] //A stocker sur le serveur..


                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
                console.log(this.imageFile)
                console.log(this.imageUrl)


            },
            submit () {
                this.$v.$touch()
                console.log('coucou')
                if (this.$v.libelle.$pending || this.$v.libelle.$error ) {
                    alert ("t'as tout faux gros blaireau")
                    return;
                }

                // tout est Ok

                else {
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }

                    let formData = new FormData();
                    var self = this

                    formData.append('id_user',3);
                    formData.append('id_categorie',1);
                    formData.append('libelle',this.libelle);
                    formData.append('points',this.pointtotal);
                    formData.append('imageNom',this.imageName);
                    formData.append('contenuImage',this.imageFile);



                    axios.post('question', formData, config)
                    .then(function (response) {
                        self.resultat = response.data
                        if (self.listePropositions.length > 0){
                        self.soumetPropositions(response.data.data.id);
                        }
                        if (self.tags.length > 0){
                            self.soumetTags(response.data.data.id) ;
                        }
                    }).catch(function (error) {
                        self.resultat = error;
                    });
                }



            },
            soumetTags(idQuestion) {
                var self = this
                var i = 0
                for (i = 0; i < this.tags.length; i++) {
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }

                    let formData = new FormData();
                    formData.append('id_question',idQuestion) ;
                    formData.append('libelle',this.tags[i]) ;

                    axios.post('tags', formData, config)
                        .then(function (response) {
                        })
                        .catch(function (error) {
                        });
                }
            },

            soumetPropositions(idQuestion){
                console.log('pret à soumettre les propositions pour la question: '+idQuestion)
                var self = this

                /*** On boucle sur toutes les questions ***/

                var i = 0
                for (i = 0; i < this.listePropositions.length; i++) {
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }

                    let formData = new FormData();
                    formData.append('id_question',idQuestion) ;
                    formData.append('id_proposition',1) ;
                    formData.append('libelle',this.listePropositions[i].libProp) ;
                    formData.append('reponse',+this.listePropositions[i].checkbox) ;
                    formData.append('points',this.listePropositions[i].nbPoints) ;

                    console.log(formData)

                    axios.post('questionreponses', formData, config)
                    .then(function (response) {
                         self.resProp = response.data
                    })
                    .catch(function (error) {
                        self.resProp = error;
                    });
                }

            },
            nettoie () {
                this.$v.$reset()
                this.libelle = ''
                this.nettoieTout ++


            },
            addProposition(){
                console.log('Ajout d une proposition')

                var indiceBig
                if (this.listePropositions.length ==0) {
                    indiceBig = 0
                }
                else indiceBig = Math.max.apply(Math, this.listePropositions.map(function(o) { return o.id; }))

                var newPropale = new Propale({id:indiceBig+1});

                // this.listePropositions.push({"id": indiceBig+1})



                this.listePropositions.push(newPropale) ;

                var i = 0
                for (i = 0; i < this.listePropositions.length; i++) {
                    console.log('Après ajout les id sont: '+this.listePropositions[i].id);
                    //console.log(this.$refs.propale[i].value)
                }

            },
            supprimeProposition(index){
                console.log('tentative de suppression à index: '+index)

                // this.$delete(this.listePropositions,monid)

                this.listePropositions.splice(index,1)

                var i =0
                for (i = 0; i < this.listePropositions.length; i++) {
                    console.log('Après suppresion les id sont: '+this.listePropositions[i].id);
                }


            },
            valideProposition(index,id,lib,check,sel){
                console.log('tentative validation / modification pour id: '+id)

                var newPropale = new Propale({id:id,libProp:lib,checkbox:check,nbPoints:sel});

                this.listePropositions.splice(index,1,newPropale)

                var i =0
                for (i = 0; i < this.listePropositions.length; i++) {
                    console.log('Après validation les libelles sont: '+this.listePropositions[i].libProp+this.listePropositions[i].nbPoints);
                }


            }
        }
    }
</script>
