<template>
    <v-app>
        <v-card>
            <v-card-title>
                Questions à choix multiple
                <v-spacer></v-spacer>
                <v-text-field
                    append-icon="search"
                    label="Recherche"
                    single-line
                    hide-details
                    v-model="search"
                ></v-text-field>
            </v-card-title>

            <v-card-title>
                Ajout:
            <v-btn color="primary" dark class="mb-2" href="/ajout" target="_self">Nouvelle question</v-btn>
            </v-card-title>

            <v-dialog v-model="dialog" max-width="500px">

                <!--
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Ajoutez</v-btn>
            </template>
            -->
            <v-card>
                <v-card-title>
                    <span class="headline">Modification question</span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout >
                            <v-flex xs12 sm6 md4>
                                <v-text-field v-model="editedItem.id" disabled readonly label="Id question" ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-text-field v-model="editedItem.id_user" disabled readonly label="Id user"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-text-field v-model="editedItem.id_categorie"  disabled readonly label="Id catégorie"> </v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout >

                            <v-flex xs12 sm8 md8>
                                <v-text-field v-model="editedItem.libelle" label="Libellé question"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 md4>
                                <v-text-field v-model="editedItem.points" label="Nb points"></v-text-field>
                            </v-flex>

                        </v-layout>
                        <v-layout >
                            <v-flex xs12 sm12 md12>
                                <v-img
                                    :src="editedItem.imageNom"
                                ></v-img>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Annulation</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Sauver les modifications</v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>



            <v-data-table
                :headers="headers"
                :items="questions"
                :search="search"
            >
                <v-spacer></v-spacer>

                <template slot="items" slot-scope="props">
                    <td class="text-xs-right">{{ props.item.id }}</td>
                    <td class="text-xs-right">{{ props.item.id_user }}</td>
                    <td class="text-xs-right">{{ props.item.id_categorie }}</td>
                    <td class="text-xs-right">{{ props.item.libelle }}</td>
                    <td class="text-xs-right">{{ props.item.points }}</td>

                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="teal">edit</v-icon>        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>        </v-btn>        </td>

                </template>


                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                    Votre recherche pour "{{ search }}" n' a donné aucun résultat.
                </v-alert>


            </v-data-table>
        </v-card>
    </v-app>
</template>

<script>
    import axios from 'axios'
    export default {
        methods: {
            getData: function(){
                //var root = 'https://jsonplaceholder.typicode.com';
                var vm = this;
                axios.get('questions')
                .then(response => {
                    this.questions = response.data.data
                }
                )
            },
            editItem (item) {
                this.editedIndex = this.questions.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.questions.indexOf(item)
                var clefASupprimer = this.questions[index].id
                var suppression = confirm('Etes vous certain de vouloir supprimer cette question ?') && this.questions.splice(index, 1)
                var vm = this;

                if (suppression) {
                    axios.delete('question/'+clefASupprimer)
                        .then(response => {
                    console.log('suppresion serveur')
                        }
                        )
                }
            }

            ,

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.questions[this.editedIndex], this.editedItem)
                } else {
                    this.questions.push(this.editedItem)
                }
                this.close()
            }
            }
        ,
        data () {
            return {
                search: '',
                headers: [
                    /*  {
                        text: 'Dessert (100g serving)',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                      },*/
                    { text: 'ID Question', value: 'id' },
                    { text: 'ID user', value: 'id_user' },
                    { text: 'ID catégorie', value: 'id_categorie' },
                    { text: 'Libellé', value: 'libelle' },
                    { text: 'Nb points', value: 'points' },
                    { text: 'Actions', value: 'action', sortable: false },
                ],
                questions: [],
                editedIndex: -1,
                editedItem: {
                    id: 0,
                    id_user: 0,
                    id_categorie: 0,
                    libelle: '',
                    points: 0,
                    imageNom: '/images/blank.jpg'
                },
                defaultItem: {
                    id: 0,
                    id_user: 0,
                    id_categorie: 0,
                    libelle: '',
                    points: 0,
                    imageNom: '/images/blank.jpg',
                },
                dialog: false
            }
        },
        created: function(){
            this.getData()
        }
    }
</script>

