<template>
    <v-layout
        column
        justify-center
        align-center
    >
        <v-flex
            xs12
            sm8
            md6
        >

            <v-card>
                <v-card-title class="headline" v-if="has_error">
                    <p>Erreur, impossible de se connecter avec ces identifiants.</p>
                </v-card-title>
                <v-card-text>
                    <form @submit.prevent="login" method="post">

                        <v-text-field
                            label="Email"
                            v-model="email"
                            required
                        ></v-text-field>
                        <v-text-field
                            label="Password"
                            v-model="password"
                            type="password"
                            required
                        ></v-text-field>

                        <v-btn type="submit">
                            Logez moi
                        </v-btn>
                    </form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data() {
            return {
                email: null,
                password: null,
                has_error: false
            }
        },

        mounted() {
            //
        },

        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect()
                var app = this
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function() {
                        // handle redirection
                        const redirectTo = redirect ? redirect.from.name : this.$auth.user().role === 2 ? 'admin.dashboard' : 'liste'

                        this.$router.push({name: redirectTo})
                    },
                    error: function() {
                        app.has_error = true
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>
