<template>
    <v-layout app
        column
        justify-center
        align-center
    >
        <v-flex
            xs12
            sm8
            md6
        >

            <v-card>
                <v-card-text>
                    <form @submit.prevent="logout" method="post">

                        <v-text-field
                            label="Raison"
                            v-model="raison"
                            required
                        ></v-text-field>


                        <v-btn type="submit">
                            Salut
                        </v-btn>
                    </form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>



<script>
    export default {
        data(){
            return {
                raison : ""
            }
        },
        methods : {
            logout(e){
                e.preventDefault()

                /*
                if (this.raison.length > 0) {
                    localStorage.removeItem('jwt')

                    axios.get('logout', {
                    })
                        .then(response => {

                            this.$router.push('/')
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }*/

                if (this.raison.length > 0) {
                    this.$auth.logout()
                }

            }
        }
    }
</script>
