<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs6>

                <v-text-field
                    prepend-icon="input"
                    v-model="libprop"
                    :error-messages="propositionErrors"
                    label="Réponse"
                    required
                    @input="$v.libprop.$touch()"
                    @blur="$v.libprop.$touch()"
                ></v-text-field>
            </v-flex>

            <v-flex xs1>
                <v-checkbox
                    v-model="checkbox"
                    :error-messages="checkboxErrors"
                    label="Vrai ?"
                    @change="$v.checkbox.$touch()"
                    @blur="$v.checkbox.$touch()"
                ></v-checkbox>
            </v-flex>
            <v-flex xs1>

                <v-select
                    v-model="select"
                    :items="points"
                    :error-messages="selectErrors"
                    label="Points"
                    required
                    @change="$v.select.$touch()"
                    @blur="$v.select.$touch()"
                ></v-select>
            </v-flex>

            <v-flex xs2>
                <v-btn @click="valider">
                    <v-icon>done</v-icon>
                </v-btn>
            </v-flex>
            <v-flex xs2>
                <v-btn @click="supprimer">
            <v-icon>delete</v-icon>
                </v-btn>
            </v-flex>

        </v-layout>

    </v-container>


</template>



<script>

    import { validationMixin } from 'vuelidate'
    import { required, maxLength, email } from 'vuelidate/lib/validators'

    export default {

        mixins: [validationMixin],

        validations: {
            libprop: { required },
            select: { required }
            ,
            checkbox: {
                checked (val) {
                    return val
                }
            }
        },

        props: {
            proposition: Object,
            nettoie: Number,
            index: Number
        },
        data(){
            return{
                select: 0,
                points: [
                    1,
                    2,
                    3,
                    4,
                    5
                ],
                checkbox: false,
                libprop: ''
            }},
        computed: {
        propositionErrors () {
            const errors = []
            if (!this.$v.libprop.$dirty) return errors
            !this.$v.libprop.required && errors.push('Au moins une réponse est requise')
            return errors
        },
            checkboxErrors () {
                //const errors = []
                //if (!this.$v.checkbox.$dirty) return errors
                //!this.$v.checkbox.checked && errors.push('You must agree to continue!')
                //return errors
            },
            selectErrors () {
                const errors = []
                if (!this.$v.select.$dirty) return errors
                !this.$v.select.required && errors.push('Un nombre de points est requis pour chaque question')
                return errors
            }
        },
        methods: {
            nettoiechamps () {
            this.$v.$reset()
            this.libprop = ''
            this.select = null
            this.checkbox = false
        },
            supprimer (){
                this.$emit('supprime',this.index);
            },
            valider (){
                this.$emit('valide',this.index,this.proposition.id,this.libprop,this.checkbox,this.select);

            }

        },
        watch: {
            'nettoie': function() {
                this.nettoiechamps() ;
            }
        }
    }
</script>

