<template>
    <v-layout
        column
        justify-center
        align-center
    >
        <v-flex
            xs12
            sm8
            md6
        >

            <v-card>
                <v-card-title class="headline">
                   Enregistrement
                </v-card-title>
                <v-card-text>
                    <form @submit.prevent="register" v-if="!success" method="post">

                        <v-text-field
                            label="Nom"
                            v-model="user.name"
                            required
                            :error-messages="nameErrors"
                            @change="$v.user.name.$touch()"
                            @blur="$v.user.name.$touch()"
                        ></v-text-field>
                        <v-text-field
                            label="Email"
                            v-model="user.email"
                            required
                            @change="$v.user.email.$touch()"
                            @blur="$v.user.email.$touch()"
                            :error-messages="emailErrors"
                        ></v-text-field>
                        <v-text-field
                            label="Password"
                            v-model="user.password"
                            type="password"
                            required
                            @change="$v.user.password.$touch()"
                            @blur="$v.user.password.$touch()"
                        ></v-text-field>
                        <v-text-field
                            label="Entrez à nouveau votre mdp"
                            v-model="user.password_confirmation"
                            type="password"
                            required
                            @change="$v.user.password_confirmation.$touch()"
                            @blur="$v.user.password_confirmation.$touch()"
                        ></v-text-field>
                        <v-container align="left" v-if="submitted && $v.user.password_confirmation.$error" >
                            <v-card>
                            <span v-if="!$v.user.password_confirmation.required">Vous devez ressaisir votre mdp</span>
                            <span v-else-if="!$v.user.password_confirmation.sameAsPassword">Les mots de passe doivent correspondre</span>
                            </v-card>
                        </v-container>


                        <v-btn type="submit">
                            Enregistrer
                        </v-btn>
                    </form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>


</template>
<script>

    import { validationMixin } from 'vuelidate'

    import { required, email, minLength, sameAs } from "vuelidate/lib/validators";


    export default {
        mixins: [validationMixin],
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                success: false,
                has_error: false,
                error: '',
                errors: {},
                submitted: false
            }
        },
        validations: {
            user: {
                name: { required },
                email: { required, email },
                password: { required, minLength: minLength(3) },
                password_confirmation: { required, sameAsPassword: sameAs('password') }
            }
            },
        computed: {
            nameErrors () {
                const errors = []
                if (!this.$v.user.name.$dirty) return errors
                !this.$v.user.name.required && errors.push('Nous avons besoin de votre nom')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.user.email.$dirty) return errors
                !this.$v.user.email.required && errors.push('Votre email est obligatoire')
                return errors
            }
        },

        methods: {
            register() {

                this.submitted = true;

                // on s'arrête si formulaire invalide
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }

                var app = this
                this.$auth.register({
                    data: {
                        name: app.user.name,
                        email: app.user.email,
                        password: app.user.password,
                        password_confirmation: app.user.password_confirmation
                    },
                    success: function () {
                        app.success = true
                        this.$router.push({name: 'login', params: {successRegistrationRedirect: true}})
                    },
                    error: function (res) {
                        console.log(res.response.data.errors)
                        app.has_error = true
                        app.error = res.response.data.error
                        app.errors = res.response.data.errors || {}
                    }
                })
            }
        }
    }
</script>
